@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.subscriberDetailWrap {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;  
    padding: 28px 15px;  
}
.subscriberDetailWrap h4 {
    color: #80d6a3;
    text-align: center;
    padding: 5px 5px 15px 5px;
}
.sub_outer {
    width: 90%;
    margin: 0 auto;
}